image: node:lts

ci:
  stage: build
  before_script:
    - npm install -g @marp-team/marp-cli
  script:
    - marp docs/*.md

pages:
  stage: build
  before_script:
    - npm install -g @marp-team/marp-cli
  script:
    - marp docs/*.md
    - mkdir public
    - cp docs/*.html public/
  artifacts:
    paths:
      - public
  only:
    - main
